a {
  cursor: pointer;
  text-decoration: none;
  color: #696767;
}


.centered-div {
  width: 50%; /* or any desired width */
  margin: 0 auto;
  text-align: center; /* Optional: center the text inside the div */
}
