

<c-toaster [placement]="toastPosition" >
<c-toast [autohide]="true" [visible]="toastVisible" color="success-gradient">
<c-toast-header>
    Információ
</c-toast-header>
    <c-toast-body>
        <p>{{toastMessage}}</p>
    </c-toast-body>
</c-toast>
</c-toaster>



<!-- New order popup -->
<dx-popup #newWorkOrderPopup [showCloseButton]="true" [(visible)]="newWorkOrderModalVisible" title="Új megrendelés"
              width="80%" height="80%" [resizeEnabled]="false" [dragEnabled]="false" (onHiding)="closeNewWorkOrderPopup()">



            <form  (submit)="saveNewWorkOrder($event)">
                <dx-form #newWorkOrderForm [colCount]="2" [formData]="newWorkOrder" [showValidationSummary]="true">
                    <dxi-item itemType="group" caption="Rendelési adatok">
                        <dxi-item [dataField]="'partner.partnerId'" editorType="dxLookup"
                                  [editorOptions]="{dataSource : validPartnerList,
                                                valueExpr: 'partnerId',
                                                displayExpr: 'partnerName',
                                                dropDownOptions: {fullScreen: false}}">
                            <dxo-label text="Partner"> </dxo-label>
                            <dxi-validation-rule type="required" message="Válassz partnert!"/>
                        </dxi-item>
                        <dxi-item dataField="plateNr">
                            <dxo-label text="Rendszám"> </dxo-label>
                            <dxi-validation-rule type="required" message="Add meg a rendszámot!"/>
                            <dxi-validation-rule type="pattern" message="Nem megfelelő rendszám formátum" pattern="^[A-Za-z]{3}-?\d{3}$|^[A-Za-z]{4}-?\d{3}$"/>
                        </dxi-item>
                        <dxi-item dataField="carType">
                            <dxo-label text="Típus"> </dxo-label>
                            <dxi-validation-rule type="required" message="Add meg az autó típusát!"/>
                        </dxi-item>
                        <dxi-item dataField="carUserName">
                            <dxo-label text="Használó"> </dxo-label>
                            <dxi-validation-rule type="required" message="Add meg a használó nevét!"/>
                        </dxi-item>
                        <dxi-item dataField="commentText">
                            <dxo-label text="Megjegyzés"> </dxo-label>
                            <dxi-validation-rule type="required" message="Add meg a megrendelés nevét!"/>
                        </dxi-item>
                        <dxi-item dataField="rideCnt" editorType="dxNumberBox" [editorOptions]="{onValueChanged: rideCntChanged}">
                            <dxo-label text="Fuvar darabszám"> </dxo-label>
                            <dxi-validation-rule type="required" message="Add meg a fuvar darabszámot"/>
                        </dxi-item>
                    </dxi-item>



                    <dxi-item itemType="group" caption="Fuvar adatok">


<!--                        <dxi-item-->
<!--                                itemType="button"-->
<!--                                horizontalAlignment="left"-->
<!--                                cssClass="add-phone-button"-->
<!--                                [buttonOptions]="addRideButtonOption"-->
<!--                        >-->
<!--                        </dxi-item>-->

                        <!--<button (click)="copyPlateNr()" cButton>Rendszám másolása <svg [cIcon]="icons.cilPlus"></svg> </button>-->

                            <dxi-item itemType="tabbed" name="rides" >
                                <dxo-tab-panel-options [deferRendering]="false"> </dxo-tab-panel-options>

                                <dxi-tab  [title]="'Fuvar ' + (i + 1)" *ngFor="let ride of newWorkOrder.rides; let i = index">
                                    <dxi-item
                                            [dataField]="'rides[' + i + '].relRideDrivers[0].driver.driverId'"
                                            editorType="dxLookup"
                                            [editorOptions]="{dataSource : driverList,
                                                      valueExpr: 'driverId',
                                                       displayExpr: 'driverRealName',
                                                       fullScreen: false,
                                                       dropDownOptions: {fullScreen: false}}"
                                    >
                                        <dxo-label text="Sofőr"> </dxo-label>
                                        <dxi-validation-rule type="required" message="Add meg a safőrt!"/>
                                    </dxi-item>
                                    <dxi-item
                                            [dataField]="'rides[' + i + '].pickUpTime'"
                                            editorType="dxDateBox"
                                            [editorOptions]="{ width: '100%', type: 'datetime', displayFormat: 'yyyy.MM.dd HH:mm'}"
                                    >
                                        <dxo-label text="Felvétel"> </dxo-label>
                                        <dxi-validation-rule type="required" message="Add meg a felvétel idejét"/>
                                    </dxi-item>
                                    <dxi-item
                                            [dataField]="'rides[' + i + '].startLocationZip'"
                                            editorType="dxNumberBox"
                                            hint="1032"
                                    >
                                        <dxi-validation-rule type="required" message="Add meg a felvétel irányitószámot!"/>
                                        <dxo-label text="Felvétel irsz."> </dxo-label>
                                    </dxi-item>
                                    <dxi-item
                                            [dataField]="'rides[' + i + '].startLocationCity'"
                                    >
                                        <dxi-validation-rule type="required" message="Add meg a felvétel várost!"/>
                                        <dxo-label text="Felvétel Város"> </dxo-label>
                                    </dxi-item>
                                    <dxi-item
                                            [dataField]="'rides[' + i + '].startLocationAddress'"
                                    >
                                        <dxo-label text="Felvétel cím"> </dxo-label>
                                        <dxi-validation-rule type="required" message="Add meg a felvétel címet!"/>
                                    </dxi-item>
                                    <dxi-item
                                            [dataField]="'rides[' + i + '].finishLocationZip'"
                                            editorType="dxNumberBox"
                                            hint="1032"
                                    >
                                        <dxo-label text="Leadás irsz."> </dxo-label>
                                        <dxi-validation-rule type="required" message="Add meg a leadás irányítószámot!"/>
                                    </dxi-item>
                                    <dxi-item
                                            [dataField]="'rides[' + i + '].finishLocationCity'"
                                            caption="Finish Location City"
                                    >
                                        <dxo-label text="Leadás város"> </dxo-label>
                                        <dxi-validation-rule type="required" message="Add meg a leadás várost!"/>
                                    </dxi-item>
                                    <dxi-item
                                            [dataField]="'rides[' + i + '].finishLocationAddress'"
                                            caption="Finish Location Address"
                                    >
                                        <dxo-label text="Leadás cím"> </dxo-label>
                                        <dxi-validation-rule type="required" message="Add meg a leadás címet!"/>
                                    </dxi-item>
                                </dxi-tab>
                            </dxi-item>




                        <dxi-item itemType="button" [buttonOptions]="{text: 'Mentés',type: 'default',width: '120px',useSubmitBehavior: true}">
                        </dxi-item>
                    </dxi-item>

                </dx-form>
            </form>
<!--        </dx-scroll-view>-->

    </dx-popup>
<!-- New order popup END-->

<!-- Change plate popup -->

<dx-popup [showCloseButton]="true" [(visible)]="plateChangeModalVisible" title="Rendszám módosítás" height="200">


    <form  (submit)="modifyPlateNr($event)">
        <dx-form #modifyPlateForm [colCount]="2" [formData]="modifyWorkOrder" [showValidationSummary]="true">

            <dxi-item dataField="plateNr">
                <dxo-label text="Rendszám"> </dxo-label>
                <dxi-validation-rule type="required" message="Add meg a rendszámot!"/>
                <dxi-validation-rule type="pattern" message="Nem megfelelő rendszám formátum" pattern="^[A-Za-z]{3}-?\d{3}$|^[A-Za-z]{4}-?\d{3}$"/>
            </dxi-item>

            <dxi-item itemType="button" [buttonOptions]="{text: 'Mentés',type: 'default',width: '120px',useSubmitBehavior: true}">
            </dxi-item>
        </dx-form>
    </form>

</dx-popup>

<!-- Change plate popup END-->


<!-- Change driver popup -->

<dx-popup [showCloseButton]="true" [(visible)]="driverChangePopupVisible" title="Sofőr módosítás" height="200">


    <form  (submit)="modifyDriverForRide($event)">
        <dx-form #modifyPlateForm [colCount]="2" [formData]="driverModificationDto" [showValidationSummary]="true">

            <dxi-item
                    [dataField]="'driverId'"
                    editorType="dxLookup"
                    [editorOptions]="{dataSource : driverList,
                                                      valueExpr: 'driverId',
                                                       displayExpr: 'driverRealName',
                                                       fullScreen: false,
                                                       dropDownOptions: {fullScreen: false}}"
            >
                <dxo-label text="Sofőr"> </dxo-label>
                <dxi-validation-rule type="required" message="Add meg a safőrt!"/>
            </dxi-item>

            <dxi-item itemType="button" [buttonOptions]="{text: 'Mentés',type: 'default',width: '120px',useSubmitBehavior: true}">
            </dxi-item>
        </dx-form>
    </form>

</dx-popup>

<!-- Change plate popup END-->


    <div class="content" *ngIf="workOrderList != undefined">

        <dx-accordion
            #workOrderListAccordion
            [dataSource]="filteredWorkOrderList"
            [collapsible]="true"
            [multiple]="false"
            [animationDuration]="100"
            (onSelectionChanged)="rideSelected($event)"
            [selectedItem]="[]"

        >
            <div *dxTemplate="let workOrder of 'title'" [ngStyle]="{ 'background-color': getBackgroundColor(workOrder) }">
                <div class="container">

                    <div class="row">
                        <div class="col">
                            <h5><c-badge color="info">{{ workOrder.plateNr }}</c-badge></h5>
                        </div>
                        <div class="col">
                            <dx-button [disabled]="!isNotDoneRideOnWorkOrder(workOrder)!" (onClick)="toggleChangePlateModal($event, workOrder)"
                                       icon="refresh"
                            ></dx-button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="smaller-font">Parter: <b>{{workOrder.partner.partnerName}}</b></span>
                        </div>
                        <div class="col">
                            <span class="smaller-font">Felv.: <b>{{formatDate(workOrder.rides[0].pickUpTime, 'long')}}</b></span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="smaller-font">Használó: <b>{{workOrder.carUserName}}</b></span>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col">
                            <span class="smaller-font">Típus: <b>{{workOrder.carType}}</b></span>
                        </div>
                        <div class="col">
                            <span class="smaller-font">Fuvarok: <b>{{doneRideCounter(workOrder)}}/{{workOrder.rides?.length}}</b></span>
                        </div>

                    </div>
                    <hr class="custom-hr">
                    <div class="row">
                        <div class="col">
                            <span class="more-smaller-font">ID: {{workOrder.orderId}}</span>
                        </div>
                        <div class="col">
                            <span class="more-smaller-font">Létrehozva: {{formatDate(workOrder.crDate, 'long')}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div *dxTemplate="let workOrder of 'item'">


                <dx-tab-panel
                        width="100%"
                        [animationEnabled]="true"
                        [swipeEnabled]="true"
                        [dataSource]="workOrder.rides"
                        [loop]="true"
                >
                    <div *dxTemplate="let ride of 'title'; let i = index">
                        <span>Fuvar {{ ride.rideId }}</span>
                    </div>
                <div *dxTemplate="let ride of 'item'">

                    <div class="container">
                        <div class="ride-div">
                        <div class="row">
                            <div class="col">
                                <span class="smaller-font">Felvétel: <b>{{ride.startLocationZip + ', ' + ride.startLocationCity + ' ' + ride.startLocationAddress}}</b></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span class="smaller-font">Leadás: <b>{{ride.finishLocationZip + ', ' + ride.finishLocationCity + ' ' + ride.finishLocationAddress}}</b></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span class="smaller-font">Sofőr: <b>{{ride.relRideDrivers[0].driver.driverRealName}}</b></span>
                            </div>
                        </div>
                            <div class="row">
                                <div class="col">
                                    <a *ngIf="isNotDoneRideOnWorkOrder(workOrder)!" (click)="toggleChangeDriverModal(ride)"><span class="smaller-font">Sofőr módosítása</span></a>
                                </div>
                            </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <button [disabled]="disableRideSurvey(workOrder, ride)" *ngIf="ride.boolId == 1" (click)="openSurvey(workOrder.orderId!, ride.rideId!)" cButton variant="outline" color="danger">
                                    Ürlap kitöltése
                                    <svg [cIcon]="icons.cilClipboard"></svg>
                                </button>
                                <button  *ngIf="ride.boolId == 2" (click)="viewRide(ride.rideId!)" cButton variant="outline" color="success">
                                    Ürlap megtekintése
                                    <svg [cIcon]="icons.cilClipboard"></svg>
                                </button>
                            </div>
                        </div>
                        <hr>
                        <div class="p-1 border bg-light" *ngIf="ride.boolId == 2">
                            <svg [cIcon]="icons.cilCheck"></svg>
                            <strong> Teljesítve: {{ formatDate(ride.modDate, 'long') }} - {{ ride.modUser }}</strong>
                        </div>
                        </div>
                    </div>

<!--                    <div>-->
<!--                            <c-container class="ride-container">-->
<!--                                <c-row [gutter]="{ g: 2 }">-->
<!--                                    <c-col [md]="3">-->
<!--                                        <div cFormFloating class="p-1 border bg-light">-->
<!--                                            <input-->
<!--                                                    cFormControl-->
<!--                                                    id="startLoc{{ride.rideId}}"-->
<!--                                                    type="text"-->
<!--                                                    [value]="ride.startLocationZip + ', ' + ride.startLocationCity + ' ' + ride.startLocationAddress"-->
<!--                                                    disabled-->
<!--                                            />-->
<!--                                            <label cLabel for="startLoc{{ride.rideId}}">Felvétel helye</label>-->
<!--                                        </div>-->
<!--                                    </c-col>-->
<!--                                </c-row>-->
<!--                                <c-row [gutter]="{ g: 2 }">-->
<!--                                    <c-col [md]="3">-->
<!--                                        <div cFormFloating class="p-1 border bg-light">-->
<!--                                            <input-->
<!--                                                    cFormControl-->
<!--                                                    id="finishLoc{{ride.rideId}}"-->
<!--                                                    type="text"-->
<!--                                                    [value]="ride.finishLocationZip + ', ' + ride.finishLocationCity + ' ' + ride.finishLocationAddress"-->
<!--                                                    disabled-->
<!--                                            />-->
<!--                                            <label cLabel for="finishLoc{{ride.rideId}}">Leadás helye</label>-->
<!--                                        </div>-->
<!--                                    </c-col>-->
<!--                                </c-row>-->
<!--                                <c-row [gutter]="{ g: 2 }">-->
<!--                                    <c-col>-->
<!--                                        <div cFormFloating class="p-1 border bg-light">-->
<!--                                            <input-->
<!--                                                    cFormControl-->
<!--                                                    id="driverName{{ride.rideId}}"-->
<!--                                                    type="text"-->
<!--                                                    [value]="ride.relRideDrivers[0].driver.driverRealName"-->
<!--                                                    disabled-->
<!--                                            />-->
<!--                                            <label cLabel for="driverName{{ride.rideId}}">Sofőr neve</label>-->
<!--                                        </div>-->
<!--                                    </c-col>-->
<!--                                    <c-col>-->
<!--                                        <div class="p-1 border bg-light">-->
<!--                                            <button [disabled]="!disableRideSurvey(workOrder, ride)" *ngIf="ride.boolId == 1" (click)="openSurvey(workOrder.orderId!, ride.rideId!)" cButton variant="outline" color="danger">-->
<!--                                                Ürlap kitöltése-->
<!--                                                <svg [cIcon]="icons.cilClipboard"></svg>-->
<!--                                            </button>-->
<!--                                            <button [disabled]="!disableRideSurvey(workOrder, ride)" *ngIf="ride.boolId == 2" (click)="viewRide(ride.rideId!)" cButton variant="outline" color="success">-->
<!--                                                Ürlap megtekintése-->
<!--                                                <svg [cIcon]="icons.cilClipboard"></svg>-->
<!--                                            </button>-->
<!--                                        </div>-->
<!--                                    </c-col>-->
<!--                                </c-row>-->
<!--                                <c-row [gutter]="{ g: 2 }" *ngIf="ride.boolId == 2">-->
<!--                                    <c-col>-->
<!--&lt;!&ndash;                                        <div class="p-1 border bg-light">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <svg [cIcon]="icons.cilCheck"></svg>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <strong> Teljesítve: {{ formatDate(ride.modDate, 'long') }} - {{ ride.modUser }}</strong>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                                    </c-col>-->
<!--                                </c-row>-->
<!--                            </c-container>-->

<!--                    </div>-->

<!--                    <dx-form  [formData]="ride" [colCount]="2">-->

<!--                            <dxi-item dataField="rideId" [caption]="idCaption" [editorOptions]="{readOnly : true}" ></dxi-item>-->
<!--                            <dxi-item dataField="carType" caption="Típus" [editorOptions]="{readOnly : true}" [colSpan]="1"></dxi-item>-->
<!--                            <dxi-item dataField="carUserName" caption="Használó" [editorOptions]="{readOnly : true}" [colSpan]="1"></dxi-item>-->

<!--                    </dx-form>-->
                </div>
                </dx-tab-panel>

<!--                <dx-form #newWorkOrderForm [colCount]="2" [formData]="workOrder" [showValidationSummary]="true">-->

<!--                    <dxi-item itemType="tabbed" name="rides" >-->

<!--                        <dxi-tab  [title]="'Fuvar ' + (i + 1)" *ngFor="let ride of workOrder.rides; let i = index">-->

<!--                            <dxi-item [dataField]="'rides['+i+'].rideId'" [editorOptions]="{readOnly : true}"></dxi-item>-->

<!--                        </dxi-tab>-->

<!--                    </dxi-item>-->
<!--                </dx-form>-->


            </div>

        </dx-accordion>

    </div>

@if (isLoading) {
    <div class="centered-div">
    <dx-load-indicator
            id="large-indicator"
            height="60"
            width="60"
    ></dx-load-indicator>
    </div>
}

