<div>
    <c-row class="align-items-center">
        <c-col>
            <a [routerLink]="'/home/work-order'">
                <svg [cIcon]="icons.cilArrowThickFromRight" width="30"></svg> Vissza
            </a>

        </c-col>
    </c-row>

    <div class="centered-div" *ngIf="loadedRide == undefined">
        <dx-load-indicator
                id="large-indicator"
                height="60"
                width="60"
        ></dx-load-indicator>
    </div>

    <c-nav variant="tabs">
        <a [active]="activeTab === 0" (click)="setActiveTab(0)" [cTabContent]="tabContent"  [tabPaneIdx]="0" cNavLink>Jegyzőkönyv</a>
        <a [active]="activeTab === 1" (click)="setActiveTab(1)" [cTabContent]="tabContent"  [tabPaneIdx]="1" cNavLink>Fényképek</a>
    </c-nav>
    <c-tab-content #tabContent="cTabContent">
        <c-tab-pane class="p-3">
            <c-card *ngIf="loadedRide != undefined">
                <c-card-body>
                    <h5 cCardTitle>Ürlap</h5>
                    <hr>

                    <div class="container">
                        Alap információk
                        <div class="row border-top">
                            <div class="col border">
                                <span class="smaller-font">id: <b>{{loadedRide?.order?.orderId}}</b></span>
                            </div>
                            <div class="col border">
                                <span class="smaller-font">Rendszám: <b>{{loadedRide?.order?.plateNr}}</b></span>
                            </div>
                        </div>
                        <div class="row border-top">
                            <div class="col border">
                                <span class="smaller-font">Felvéve: <b>{{loadedRide?.startLocationZip + ', ' + loadedRide?.startLocationCity + ' ' + loadedRide?.startLocationAddress!}}</b></span>
                            </div>
                            <div class="col border">
                                <span class="smaller-font">Leadva: <b>{{loadedRide?.finishLocationZip + ', ' + loadedRide?.finishLocationCity + ' ' + loadedRide?.finishLocationAddress!}}</b></span>
                            </div>
                        </div>
                        <div class="row border-top">
                            <div class="col border">
                                <span class="smaller-font">Sofőr: <b>{{loadedRide!.relRideDrivers[0]!.driver.driverRealName!}}</b></span>
                            </div>
                            <div class="col border">
                                <span class="smaller-font">Lezárva: <b>{{formatDate(loadedRide!.modDate!, 'long')}}</b></span>
                            </div>
                        </div>
                        Jegyzőkönyv adatok
                        <div class="row border-top" >
                            <div class="col border" *ngFor="let surveyResult of loadedRide.rideSurveyResults; let i = index">
                                <span class="smaller-font">{{ surveyResult.stype.typeName }} <b>{{surveyResult.survValue}}</b></span>
                            </div>
                        </div>
                    </div>


                </c-card-body>
            </c-card>
        </c-tab-pane>
        <c-tab-pane class="p-3">
            <c-card *ngIf="loadedRide != undefined">
                <c-card-body>
                    <h5 cCardTitle>Fényképek</h5>
                    <hr>
                    <gallery [items]="galeryItems" [thumb]="true"></gallery>
                </c-card-body>
            </c-card>
        </c-tab-pane>
    </c-tab-content>
</div>
